{% extends "base.html" %}
{% block title %}ИАРА - Информационна система{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="index-content">
        <h1>Добре дошли в ИАРА</h1>
        <p>Изпълнителна агенция по рибарство и аквакултури</p>
        {% if not user %}
        <a href="{{ url_for('auth.register') }}">Регистрирайте се</a>
        {% elif user.role == 'user' %}
        <a href="{{ url_for('index') }}">Към системата</a>
        {% endif %}
    </div>
</div>
{% endblock %}