{% extends "base.html" %}
{% block title %}ИАРА - Вход{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="auth-wrap">
    <div class="auth-container">
        <div class="auth-header">
            <div class="auth-title">Вход в системата</div>
        </div>

        <div class="auth-card">
            <form method="POST" action="{{ url_for('auth.login') }}">
                <div class="form-group">
                    <label for="email">Имейл адрес</label>
                    <input type="email" id="email" name="email" placeholder="example@mail.bg"  required autocomplete="email">
                </div>

                <div class="form-group">
                    <label for="password">Парола</label>
                    <input type="password" id="password" name="password" placeholder="••••••••" required autocomplete="current-password">
                </div>

                <button type="submit" class="btn btn-primary btn-submit">Влезте →</button>
            </form>

            <div class="divider"></div>

            <div class="auth-footer">Нямате акаунт? <a href="{{ url_for('auth.register') }}">Регистрирайте се</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}